@tailwind base;
@tailwind components;
@tailwind utilities;

/* Dark Mode Default */
body {
    background-color: #0f172a; /* Slate 900 */
    color: white;
    margin: 0;
    font-family: system-ui, -apple-system, sans-serif;
}
